html, body {
	margin: 0;
	padding: 0;
}
body{
	background: #610B38;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
}

.container {
	display: block;
	width: 450px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #FFF;
	padding: 20px;
	border-radius: 3px;
}

#lockmodal {
  display: none;
  background-color: black;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
}

#loader {
  	display: none;
  	position: absolute;
  	top: 0;
 	bottom: 0;
  	left: 0;
  	right: 0;
  	margin: auto;
  	width: 40px;
  	height: 40px;
  	border: 4px solid #f3f3f3;
  	border-top: 4px solid #3498db;
  	border-radius: 50%;
  	animation: spinner 0.6s ease-in infinite;
    z-index: 9999;
}

@keyframes spinner {
  	0% {
    	transform: rotate(0deg);
  	}
  	100% {
    	transform: rotate(360deg);
  	}
}

h2.header {
	margin: 0;
	margin-bottom: 40px;
	margin-top: 10px;
	font-family: inherit;
	font-size: 24px;
	color: #610B38;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	cursor: default;
}

h2.header:after {
	content: "";
	width: 100px;
	height: 2px;
	background: #610B38;
	position: absolute;
	bottom: -5px;
	left: calc(50% - 50px);
	animation-name: line_animation;
	animation-duration: 0.5s;
	animation-timing-function: linear; 
}

@keyframes line_animation {
	from {
		left:50%;
		width:0%;
	}
	to {
		left:calc(50% - 50px);
		width:100px;
	}
}


.inputContainer {
	display: flex;
	width: 100%;
	margin-top: 15px;
}
.inputContainer:first-child {
	margin-top: 0px;
}

.inputContainer.g50 .input {
	width: 50%;
	display: inline-block;
}
.inputContainer.g50 .input:first-child {
	margin-right: 10px;
}

.inputContainer .input {
	display: block;
	outline: none;
	padding: 0;
	padding-left: 10px;
	border: 2px solid #ECECEC;
	height: 40px;
	width: 100%;
	font-size: 16px;
	color: #610B38;
	font-family: inherit;
}

.inputContainer .input:focus {
	outline: none;
	border: 2px solid rgba(97,11,56,0.2);
}

.inputContainer .input[type="submit"] {
	outline: none;
	border: none;
	background: #610B38;
	color: #FFF;
	text-transform: uppercase;
	font-size: 18px;
	border-radius: 3px;
	padding-left: 0;
	height: 45px;
	cursor: pointer;
	transition: 0.5s all;
	border: 2px solid #610B38;
}

.inputContainer .input[type="radio"] {
	height: unset;
	width: unset;
}
.inputContainer label {
	margin-right: 10px;
	font-size: 15px;
	cursor: pointer;
}
.inputContainer span {
	font-size: 17px;
	display: inline-block;
	color: #610B38;
	font-family: inherit;
}

.inputContainer .input[type="submit"]:hover {
	background: #FFF;
	color: #610B38;
}
.inputContainer .input::placeholder {
	font-size: 18px;
	color: #BCBCBC;
}
.inputContainer textarea.input {
	padding: 10px 15px;
	height: 85px;
	resize: vertical;
}
.inputContainer .input.error {
	border: 2px solid rgba(160,27,26,0.4) !important;
}

.inputContainer .radio {
	display: flex;
    width: 100%;
}
.inputContainer .radio.error {
	border: 2px solid rgba(160,27,26,0.4) !important;
	padding: 7px 10px;
}